body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-abhaya-libre-extrabold: "Abhaya Libre ExtraBold";

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;

  /* Paddings */
  --padding-10xl: 29px;
  --padding-38xl: 57px;
}
