.iste-student-chapter {
  margin: 0;
  height: 57px;
  position: relative;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.creating-society-text,
.frame-child,
.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.frame-child {
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.creating-society-text,
.frame-item {
  object-fit: cover;
}
.frame-item {
  display: none;
}
.creating-society-text {
  z-index: 2;
}
.rectangle-parent {
  position: absolute;
  top: 128px;
  left: 75px;
  width: 227px;
  height: 261px;
  background-image: url(./public/rectangle-3@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
}
.vector-parent {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.creating-an-iste {
  margin: 0;
}
.activities-plan-a,
.collaboration-seek-opportunit,
.communication-establish-effec,
.community-engagement-consider,
.evaluation-regularly-assess,
.leadership-establish-a,
.membership-open-membership,
.purpose-clearly-define {
  margin-bottom: 0;
}
.purpose-clearly-define-the-pu {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 32px;
}
.creating-an-iste-container1 {
  width: 100%;
}
.creating-an-iste-container {
  height: 231px;
  width: 906px;
  position: relative;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.creating-an-iste-internationa-wrapper,
.student-chapter-label {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 179px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: 24px;
  color: var(--color-white);
  font-family: var(--font-abhaya-libre-extrabold);
}
.student-chapter-label {
  flex-direction: column;
  justify-content: flex-start;
  padding: 48px 22px 795px;
  position: relative;
  gap: var(--gap-265xl);
  font-size: 48px;
}
.frame-inner {
  height: 635px;
  width: 1686px;
  position: relative;
  max-width: 102%;
  flex-shrink: 0;
  z-index: 1;
}
.desktop-2,
.desktop-2-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.desktop-2-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -317px;
}
.desktop-2 {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .creating-an-iste-internationa-wrapper {
    padding-left: 89px;
    box-sizing: border-box;
  }
  .student-chapter-label {
    padding-top: 31px;
    padding-bottom: 517px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .iste-student-chapter {
    font-size: 38px;
  }
  .student-chapter-label {
    gap: var(--gap-265xl);
  }
}
@media screen and (max-width: 750px) {
  .creating-an-iste-internationa-wrapper {
    padding-left: 44px;
    box-sizing: border-box;
  }
  .student-chapter-label {
    padding-top: var(--padding-xl);
    padding-bottom: 336px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .iste-student-chapter {
    font-size: 29px;
  }
  .creating-an-iste-container {
    font-size: 19px;
  }
  .creating-an-iste-internationa-wrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .student-chapter-label {
    gap: var(--gap-265xl);
  }
}
